
autom4te.cache/output.0

autom4te.cache/output.1

autom4te.cache/output.1

autom4te.cache/requests

autom4te.cache/traces.0

autom4te.cache/traces.1

autom4te.cache/traces.1

autogen.sh

autom4te.cache/output.2

autom4te.cache/traces.2

configure

autom4te.cache
config.log

configure

Makefile.in

aclocal.m4

.deps

config.guess

.libs/hadamard

*.dylib

*.a

*.lai

.libs/m3d_functions

Makefile

hadamard

*.o

*.log

*.lo

m7d_tests

*.trs

m1ri/config.h

.libs/m3d_create_test

.libs/libm1ri.la

.libs/m5d_tests

libtool

libm1ri.la

config.status

m1ri/.dirstamp

m5d_tests

m3d_functions

m1ri/m1ri_config.h

m1ri.pc

tests/.dirstamp

m3d_create_test

m1ri/stamp-h1

.libs/arithmatic_test

.libs/test_arithmetic

.libs/test_create_m3d

.libs/test_hadamard

.libs/test_m3d

.libs/test_m5d

.libs/test_m7d

test_arithmetic

test_create_m3d

test_hadamard

test_m3d

test_m5d

test_m7d

m3d_testmatrix.png

*.lognow

outputfile
