autom4te.cache
autogen.sh
configure
autom4te.cache
config.log
Makefile.in
aclocal.m4
.deps
config.guess
.libs
*.dylib
*.a
*.lai
Makefile
hadamard
*.o
*.log
*.lo
*.trs
m1ri/config.h
libtool
libm1ri.la
config.status
m1ri/.dirstamp
m5d_tests
m3d_functions
m1ri/m1ri_config.h
m1ri.pc
tests/.dirstamp
m3d_create_test
m1ri/stamp-h1
test_arithmetic
test_create_m3d
test_hadamard
test_m3d
test_m5d
test_m7d
m3d_testmatrix.png
*/.dirstamp

*.lognow

outputfile

m3d_mul_benchmark

test_multiply

m3d_mul_benchmark_now

test_decom

test_permutations
